* {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.avatar {
    background: url(pexels-jared-butler-2538270.jpg);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    position: relative;
}

.avatar::before,
.avatar::after {
    --scale: 0;
    --tooltip-color: #333;
    --arrow-size: 10px;
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: transform 0.3s;
    transform-origin: bottom center;
}

.avatar::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: white;
    background: var(--tooltip-color);
    padding: 1rem;
    max-width: 100%;
    width: max-content;
    border-radius: 0.5rem;
    text-align: center;
}

.avatar:hover::before,
.avatar:hover::after {
    --scale: 1;
}

.avatar::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: "";
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}
